services:
  mysql:
    image: mysql:8.0
    container_name: mysql8
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_DATASOURCE_USERNAME}
      MYSQL_PASSWORD: ${DB_DATASOURCE_PASSWORD}
      TZ: UTC
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    command: >
      --default-authentication-plugin=mysql_native_password
      --default-time-zone=+00:00
    networks:
      - backend-net

  ngrok:
    image: ngrok/ngrok:3
    container_name: ngrok
    restart: unless-stopped
    environment:
      NGROK_AUTHTOKEN: ${NGROK_AUTHTOKEN}
    command: http host.docker.internal:8080
    networks:
      - backend-net
    ports:
      - "4040:4040"
volumes:
  mysql_data:

networks:
  backend-net:
    driver: bridge
